[Desktop Entry]
Name=Godot Engine
Comment=Multi-platform 2D and 3D game engine with a feature-rich editor
Icon=godot
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
MimeType=application/x-godot-project;
Categories=Development;IDE;
StartupWMClass=Godot
